.recent-post-item {
  margin-bottom: 60px;
  max-width: 1300px;
  box-sizing: border-box;
  font-size: 1.1rem;
  background: $post-item-color;
}
.recent-post-info {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: $text-black;
  .link {
    text-decoration: none;
    &:hover {
      .title {
        background-size: 100% 100%;
      }
    }
    .title {
      color: $text-black;
      padding-bottom: 2px;
      font-size: 2rem;
      margin-bottom: 5px;
      background-image: linear-gradient(180deg, transparent 65%, $stroke-purple 0);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: 0.3s;
      @media screen and (max-width: $phone-size) {
        font-size: 1.2rem;
      }
    }
  }
}
.recent-post-time {
  transform-origin: 0 0;
  color: $text-grey;
  font-size: 0.9rem;
}
.recent-post-tag-list {
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  margin: 5px 0 10px 0;
  .tag {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: $text-dark;
    font-size: 0.9rem;
    &:hover {
      color: $text-purple;
    }
  }
}
.recent-post-description {
  font-size: 1rem;
  line-height: 1.6;
  color: $text-dark;
  @media screen and (max-width: $phone-size) {
    font-size: 0.9rem;
  }
}