.mobile-topbar {
  display: none;
  @media screen and (max-width: $pad-size) {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    background: $header-bg-color;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
    .menu-btn {
      display: inline-block;
      margin-right: 13px;
      width: 24px;
      height: 24px;
      background: url(http://hukua-blog.oss-cn-beijing.aliyuncs.com/assets/menu.svg) no-repeat;
      background-size: cover;
      .menu-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}