// 颜色
$logo-bg-color: #120D19;
$menu-bg-color: #f1f4f6;
$header-bg-color: #030102;
$content-bg-color: #fff;
$footer-bg-color: #ddd;
$menu-mask-color: rgba(214, 28, 143, 0.5);
$post-item-color: #fff;
$page-number-bg: rgb(242, 17, 156);
$mobile-mask-color: rgb(201, 12, 128);
$text-black: #222;
$text-dark: rgb(95, 94, 94);
$text-white: #fff;
$text-purple: rgb(214, 28, 143);
$text-grey: rgb(173, 172, 171);
$stroke-green: rgb(17, 242, 212);
$stroke-purple: rgb(242, 17, 156);
$stroke-grey: rgb(173, 172, 171);
// 按钮背景图
$menu-item-bg0: url(https://hukua-blog.oss-cn-beijing.aliyuncs.com/assets/cowboy%20bebop.jpg);
$menu-item-bg1: url(https://hukua-blog.oss-cn-beijing.aliyuncs.com/assets/gone%20with%20the%20wind.jpg);
$menu-item-bg2: url(https://hukua-blog.oss-cn-beijing.aliyuncs.com/assets/Farewell%20My%20Concubine.jpg);
$menu-item-bg3: url(https://hukua-blog.oss-cn-beijing.aliyuncs.com/assets/Umineko%20no%20Naku%20Koro%20ni.jpg);
// 移动端菜单背景图
$mobile-menu-bg: url(http://hukua-blog.oss-cn-beijing.aliyuncs.com/assets/cowboy%20bebop%20outline.png);
// 大小
$footer-height: 300px;
// 响应式变换点
$pad-size: 1024px;
$phone-size: 414px;